# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS / Windows / Linux system files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.swp

# Ignore Git directories inside cloned repositories if you want to treat them as regular folders
**/.git
*.pth

./pkgs